@model List<EFDbFirstApproachExample.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Products</h2>

<form class="form-inline" action="/products/index">
    <label for="search" class="mr-1">Search:</label>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search">
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Date of Purchase</th>
        <th>Availability Status</th>
        <th>CategoryID</th>
        <th>BrandID</th>
        <th>Active</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.Price.Value.ToString("C")</td>
            <td>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</td>
            <td>@item.AvailabilityStatus</td>
            <td>@item.CategoryID</td>
            <td>@item.BrandID</td>
            <td>@item.Active</td>
        </tr>
    }
</table>


