@model List<EFDbFirstApproachExample.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Products</h2>

<a href="/products/create">Create</a>
<form class="form-inline" action="/products/index">
    <label for="search" class="mr-1">Search:</label>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search" value="@ViewBag.search">
    <button type="submit" class="btn btn-primary">GO</button>
</form>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Date of Purchase</th>
        <th>Availability Status</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Active</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ProductID</td>
        <td>@item.ProductName</td>
        <td>
            @if (item.Price.HasValue)
            {
                <span>@item.Price.Value.ToString("C")</span>
            }
        </td>
        <td>
            @if (item.DateOfPurchase.HasValue)
            {
                <span>@item.DateOfPurchase.Value.ToString("d/M/yyyy")</span>
            }
        </td>
        <td>@item.AvailabilityStatus</td>
        <td>
            @if (item.Category != null)
            {
                <span>@item.Category.CategoryName</span>
            }
        </td>
        <td>
            @if (item.Brand != null)
            {
                <span>@item.Brand.BrandName</span>
            }
        </td>
        <td>@item.Active</td>
        <td>
            <a href="/products/details/@item.ProductID">Details</a> |
            <a href="/products/edit/@item.ProductID">Edit</a> |
            <a href="/products/delete/@item.ProductID">Delete</a>
        </td>
    </tr>
    }
</table>



